/* Override Filament modal backdrop */
.filament-modal-window {
    --tw-bg-opacity: 0.5 !important;
}

/* Fix search overlay */
.choices__list--dropdown {
    background-color: white !important;
    --tw-bg-opacity: 1 !important;
}

.dark .choices__list--dropdown {
    background-color: rgb(31 41 55) !important;
    --tw-bg-opacity: 1 !important;
}